tensorboardX~=2.1
torch~=1.8.1+cu111
setuptools~=39.0.1
opencv-python~=4.5.1.48
umsgpack~=0.1.0
numpy~=1.21
torchvision~=0.9.1+cu111
Pillow~=9.0.0
configparser~=5.0.1
kornia~=0.2.0
git+https://github.com/mapillary/inplace_abn.git